$orange: #d64c1f;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
i {
  padding-left: 3px;
}
.buttons,
.review-image {
  a {
    transition: filter 0.15s ease-in-out;
    &:hover {
      filter: brightness(80%);
      transition: filter 0.15s ease-in-out;
    }
  }
}
.sort-link,
th,
td {
  a {
    text-decoration: none;
    transition: color 0.15s ease-in-out;
    &:hover {
      color: $orange !important;
      transition: color 0.15s ease-in-out;
    }
  }
}
.cal-view {
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
}
