@import "mutual.scss";
%tab-radio-box {
  .tabs-switcher-item {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
    & input[type="radio"] {
      display: none;
      &:checked + label {
        background-color: $link-color;
      }
    }
    & label {
      display: inline-block;
      width: 150px;
      text-align: center;
      background-color: $card-color;
      cursor: pointer;
      padding: 10px;
      outline: 2px solid $bg-color;
      border-right: none;
      user-select: none;
      border-radius: 10px;
    }
  }
}
%settings-field {
  border-radius: 10px;
  outline: 1px solid $link-color;
  width: 100%;
  height: 100px;
  padding: 15px;
  margin-bottom: 20px;
}
%filter {
  padding: 15px;
  & a {
    color: $link-color;
    &:hover {
      filter: drop-shadow(0 0 10px $link-color);
    }
  }
}
body {
  .section {
    .container {
      .myaccount-body {
        .account-info {
          margin-bottom: 20px;
          .account-tabs-switcher {
            h1 {
              margin-top: 10px;
              text-align: center;
              margin-bottom: 20px;
            }
            @extend %tab-radio-box;
            text-align: center;
          }
          .account-tab-orders {
            background-color: $card-color;
            width: 100%;
            height: 640px;
            border-radius: 10px;
            margin-bottom: 20px;
            .tab-orders-filter {
              @extend %filter;
            }
            .tab-orders {
              margin-top: 10px;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              .tab-orders-item {
                border-radius: 10px;
                line-height: 2em;
                width: 590px;
                height: 160px;
                padding: 15px;
                margin-bottom: 10px;
                margin-left: 15px;
                outline: 1px solid $link-color;
                h2 {
                  text-align: left;
                  color: $link-color;
                  font-family: $general-text;
                  font-size: 20px;
                  & strong {
                    font-family: $big-text;
                  }
                }
                .order-general-info {
                  display: flex;
                  justify-content: space-between;
                }
                .order-secondary-info {
                  display: flex;
                  justify-content: space-between;
                }
                .order-buttons {
                  a {
                    font-family: $general-text;
                    text-decoration: none;
                    color: $text-color;
                    &:hover {
                      color: $link-color;
                    }
                  }
                }
                &:nth-child(2n) {
                  margin-right: 15px;
                }
              }
            }
            .orders-pagination {
              text-align: center;
              @extend %pagination;
            }
          }
          .account-tab-settings {
            background-color: $card-color;
            width: 100%;
            height: 600px;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 20px;
            ul {
              list-style-type: none;
              & li {
                & input {
                  color: $text-color;
                  margin-top: 10px;
                  border-radius: 10px;
                  width: 500px;
                  background-color: $bg-color;
                  font-size: inherit;
                  padding-left: 10px;
                  font-family: inherit;
                  font-weight: 600;
                  height: 40px;
                  &:focus {
                    outline: 1px solid $link-color;
                  }
                }
              }
            }

            .settings-password {
              @extend %settings-field;
              ul {
                display: flex;
                li:first-child {
                  margin-right: 40px;
                }
              }
            }
            .settings-phone-number {
              @extend %settings-field;
            }
            .settings-address {
              @extend %settings-field;
            }
            .settings-email {
              @extend %settings-field;
            }
            .settings-confirm {
              width: inherit;
              display: flex;
              .confirm-form {
                list-style-type: none;
                & input {
                  color: $text-color;
                  margin-top: 10px;
                  border-radius: 10px;
                  width: 500px;
                  background-color: $bg-color;
                  font-size: inherit;
                  padding-left: 10px;
                  font-family: inherit;
                  font-weight: 600;
                  height: 40px;
                  &:focus {
                    outline: 1px solid $link-color;
                  }
                }
              }
              & a {
                background-color: $link-color;
                border-radius: 10px;
                padding: 9px;
                text-decoration: none;
                color: $text-color;
                opacity: 0.7;
                margin: 12px 0 18px 25px;
                transition: opacity 1s ease-out;
                &:hover {
                  opacity: 1;
                  transition: opacity 1s ease;
                }
              }
            }
          }
          .account-tab-favourites {
            background-color: $card-color;
            width: 100%;
            height: 640px;
            border-radius: 10px;
            .tab-favourites-filter {
              @extend %filter;
            }
            .tab-favourites {
              margin-top: 10px;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              .tab-favourites-item {
                display: flex;
                border-radius: 10px;
                line-height: 2em;
                width: 590px;
                height: 160px;
                padding: 15px;
                margin-bottom: 10px;
                margin-left: 15px;
                outline: 1px solid $link-color;
                .favourites-img {
                  margin-right: 15px;
                  & img {
                    width: 130px;
                    object-fit: cover;
                    height: 130px;
                  }
                }
                .favourites-general-info {
                  width: 415px;
                  display: flex;
                  flex-wrap: nowrap;
                  justify-content: space-between;
                  p {
                    strong {
                      font-family: $big-text;
                    }
                  }
                }
                .favourites-secondary-info {
                  display: flex;
                }
                .favourites-button {
                  & a {
                    color: $text-color;
                    text-decoration: none;
                    & i {
                      margin-right: 5px;
                    }
                    &:hover {
                      color: $link-color;
                    }
                  }
                }
                &:nth-child(2n) {
                  margin-right: 15px;
                }
              }
            }
            .favourites-pagination {
              text-align: center;
              @extend %pagination;
            }
          }
        }
      }
    }
  }
}
