/* reset */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body .section .container .myaccount-body .account-info .account-tab-favourites .favourites-pagination .pagination-list, body .section .container .myaccount-body .account-info .account-tab-orders .orders-pagination .pagination-list {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 0;
  display: inline-block;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .favourites-pagination .pagination-list li, body .section .container .myaccount-body .account-info .account-tab-orders .orders-pagination .pagination-list li {
  display: inline;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .favourites-pagination .pagination-list li:first-child a, body .section .container .myaccount-body .account-info .account-tab-orders .orders-pagination .pagination-list li:first-child a {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .favourites-pagination .pagination-list li:last-child a, body .section .container .myaccount-body .account-info .account-tab-orders .orders-pagination .pagination-list li:last-child a {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .favourites-pagination .pagination-list a, body .section .container .myaccount-body .account-info .account-tab-orders .orders-pagination .pagination-list a {
  color: #f4f4f4;
  background-color: #302f2f;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #1b1a1a;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .favourites-pagination .pagination-list a:hover, body .section .container .myaccount-body .account-info .account-tab-orders .orders-pagination .pagination-list a:hover {
  background-color: #d64c1f;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .favourites-pagination .pagination-list .active, body .section .container .myaccount-body .account-info .account-tab-orders .orders-pagination .pagination-list .active {
  background-color: #d64c1f;
  opacity: 0.85;
}

.header .logo img {
  width: 100%;
  display: block;
}

body {
  height: 100%;
  background-color: #1b1a1a;
  color: #f4f4f4;
  font-family: "Gilroy-Light", sans-serif;
  font-weight: 600;
}
body a:hover {
  color: #d64c1f;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Gilroy", sans-serif;
}

h2 {
  text-align: center;
}

h3,
h4 {
  color: #d64c1f;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #302f2f;
}
.header .header-body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header .header-list {
  display: flex;
}
.header .header-list li {
  list-style: none;
  margin: 0 15px 0 20px;
}
.header .header-link {
  color: #f4f4f4;
  font-size: 1.3em;
  cursor: pointer;
  text-decoration: none;
}
.header .logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
}
.header .header-burger {
  display: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

.under-header-body {
  padding-top: 105px;
  display: flex;
  justify-content: center;
}
.under-header-body .under-header-link {
  padding-right: 10px;
  text-decoration: none;
  font-size: 1.1em;
  color: #f4f4f4;
}
.under-header-body .under-header-link i {
  padding-right: 3px;
}

.footer {
  max-width: 100%;
  background-color: #302f2f;
}
.footer .footer-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  margin: 0 auto;
  max-width: 1260px;
  height: 190px;
}
.footer .footer-body .contacts {
  line-height: 2.3em;
  position: absolute;
  top: 25%;
  left: 40%;
}
.footer .footer-body .contacts .under-header-link {
  color: #f4f4f4;
  text-decoration: none;
}
.footer .footer-body .footer-bottom {
  line-height: 2.3em;
  text-decoration: none;
  position: absolute;
  bottom: 25%;
  left: 50%;
}
.footer .footer-body .footer-bottom a {
  font-family: inherit;
  padding-right: 30px;
  color: #f4f4f4;
  text-decoration: none;
}
.footer .footer-body .contacts-mob {
  display: none;
}
.footer .footer-body .contacts-mob a {
  color: #f4f4f4;
}
.footer .footer-body .footer-logo {
  justify-content: center;
}
.footer .footer-body .footer-logo img {
  top: 25%;
  left: 10%;
  position: absolute;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

body .section .container .myaccount-body .account-info .account-tabs-switcher .tabs-switcher-item {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 20px;
}
body .section .container .myaccount-body .account-info .account-tabs-switcher .tabs-switcher-item input[type=radio] {
  display: none;
}
body .section .container .myaccount-body .account-info .account-tabs-switcher .tabs-switcher-item input[type=radio]:checked + label {
  background-color: #d64c1f;
}
body .section .container .myaccount-body .account-info .account-tabs-switcher .tabs-switcher-item label {
  display: inline-block;
  width: 150px;
  text-align: center;
  background-color: #302f2f;
  cursor: pointer;
  padding: 10px;
  outline: 2px solid #1b1a1a;
  border-right: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
}

body .section .container .myaccount-body .account-info .account-tab-settings .settings-email, body .section .container .myaccount-body .account-info .account-tab-settings .settings-address, body .section .container .myaccount-body .account-info .account-tab-settings .settings-phone-number, body .section .container .myaccount-body .account-info .account-tab-settings .settings-password {
  border-radius: 10px;
  outline: 1px solid #d64c1f;
  width: 100%;
  height: 100px;
  padding: 15px;
  margin-bottom: 20px;
}

body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites-filter, body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders-filter {
  padding: 15px;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites-filter a, body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders-filter a {
  color: #d64c1f;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites-filter a:hover, body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders-filter a:hover {
  filter: drop-shadow(0 0 10px #d64c1f);
}

body .section .container .myaccount-body .account-info {
  margin-bottom: 20px;
}
body .section .container .myaccount-body .account-info .account-tabs-switcher {
  text-align: center;
}
body .section .container .myaccount-body .account-info .account-tabs-switcher h1 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}
body .section .container .myaccount-body .account-info .account-tab-orders {
  background-color: #302f2f;
  width: 100%;
  height: 640px;
  border-radius: 10px;
  margin-bottom: 20px;
}
body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders .tab-orders-item {
  border-radius: 10px;
  line-height: 2em;
  width: 590px;
  height: 160px;
  padding: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  outline: 1px solid #d64c1f;
}
body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders .tab-orders-item h2 {
  text-align: left;
  color: #d64c1f;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 20px;
}
body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders .tab-orders-item h2 strong {
  font-family: "Gilroy", sans-serif;
}
body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders .tab-orders-item .order-general-info {
  display: flex;
  justify-content: space-between;
}
body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders .tab-orders-item .order-secondary-info {
  display: flex;
  justify-content: space-between;
}
body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders .tab-orders-item .order-buttons a {
  font-family: "Gilroy-Light", sans-serif;
  text-decoration: none;
  color: #f4f4f4;
}
body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders .tab-orders-item .order-buttons a:hover {
  color: #d64c1f;
}
body .section .container .myaccount-body .account-info .account-tab-orders .tab-orders .tab-orders-item:nth-child(2n) {
  margin-right: 15px;
}
body .section .container .myaccount-body .account-info .account-tab-orders .orders-pagination {
  text-align: center;
}
body .section .container .myaccount-body .account-info .account-tab-settings {
  background-color: #302f2f;
  width: 100%;
  height: 600px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}
body .section .container .myaccount-body .account-info .account-tab-settings ul {
  list-style-type: none;
}
body .section .container .myaccount-body .account-info .account-tab-settings ul li input {
  color: #f4f4f4;
  margin-top: 10px;
  border-radius: 10px;
  width: 500px;
  background-color: #1b1a1a;
  font-size: inherit;
  padding-left: 10px;
  font-family: inherit;
  font-weight: 600;
  height: 40px;
}
body .section .container .myaccount-body .account-info .account-tab-settings ul li input:focus {
  outline: 1px solid #d64c1f;
}
body .section .container .myaccount-body .account-info .account-tab-settings .settings-password ul {
  display: flex;
}
body .section .container .myaccount-body .account-info .account-tab-settings .settings-password ul li:first-child {
  margin-right: 40px;
}
body .section .container .myaccount-body .account-info .account-tab-settings .settings-confirm {
  width: inherit;
  display: flex;
}
body .section .container .myaccount-body .account-info .account-tab-settings .settings-confirm .confirm-form {
  list-style-type: none;
}
body .section .container .myaccount-body .account-info .account-tab-settings .settings-confirm .confirm-form input {
  color: #f4f4f4;
  margin-top: 10px;
  border-radius: 10px;
  width: 500px;
  background-color: #1b1a1a;
  font-size: inherit;
  padding-left: 10px;
  font-family: inherit;
  font-weight: 600;
  height: 40px;
}
body .section .container .myaccount-body .account-info .account-tab-settings .settings-confirm .confirm-form input:focus {
  outline: 1px solid #d64c1f;
}
body .section .container .myaccount-body .account-info .account-tab-settings .settings-confirm a {
  background-color: #d64c1f;
  border-radius: 10px;
  padding: 9px;
  text-decoration: none;
  color: #f4f4f4;
  opacity: 0.7;
  margin: 12px 0 18px 25px;
  transition: opacity 1s ease-out;
}
body .section .container .myaccount-body .account-info .account-tab-settings .settings-confirm a:hover {
  opacity: 1;
  transition: opacity 1s ease;
}
body .section .container .myaccount-body .account-info .account-tab-favourites {
  background-color: #302f2f;
  width: 100%;
  height: 640px;
  border-radius: 10px;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item {
  display: flex;
  border-radius: 10px;
  line-height: 2em;
  width: 590px;
  height: 160px;
  padding: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  outline: 1px solid #d64c1f;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item .favourites-img {
  margin-right: 15px;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item .favourites-img img {
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 130px;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item .favourites-general-info {
  width: 415px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item .favourites-general-info p strong {
  font-family: "Gilroy", sans-serif;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item .favourites-secondary-info {
  display: flex;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item .favourites-button a {
  color: #f4f4f4;
  text-decoration: none;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item .favourites-button a i {
  margin-right: 5px;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item .favourites-button a:hover {
  color: #d64c1f;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .tab-favourites .tab-favourites-item:nth-child(2n) {
  margin-right: 15px;
}
body .section .container .myaccount-body .account-info .account-tab-favourites .favourites-pagination {
  text-align: center;
}/*# sourceMappingURL=myaccount-style.css.map */