@import "mutual.scss";
body {
  .section {
    .join-body {
      background-color: $card-color;
      border-radius: 10px;
      margin: 200px auto 220px;
      width: 520px;
      height: 220px;
      .join-form {
        padding: 10px;
        ul {
          li {
            list-style-type: none;
            & input {
              height: 60px;
              margin-bottom: 20px;
              border-radius: 10px;
              width: 500px;
              background-color: $bg-color;
              padding-left: 10px;
              font-size: inherit;
              color: $text-color;
              &:focus {
                outline: 1px solid $link-color;
              }
            }
          }
        }
      }
      .join-buttons {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        a {
          text-decoration: none;
          color: $link-color;
          &:nth-child(2) {
            padding-right: 50px;
            color: $link-color;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
